aiogram==3.*
aiohttp
aiosqlite
gspread
oauth2client
reportlab
pandas
openpyxlaiogram==3.13.0
aiohttp==3.10.10
aiosqlite==0.20.0
gspread==6.1.2
oauth2client==4.1.3
reportlab==4.2.2
python-dotenv==1.0.1
